POSTGRES_DB=integrator
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

AUTH_DB_USERNAME=auth_svc
AUTH_DB_PASSWORD=auth_svc

# JWT_PRIVATE_KEY_PATH=classpath:keys/rsa_private.pem
# JWT_PUBLIC_KEY_PATH=classpath:keys/rsa_public.pem
JWT_PRIVATE_KEY_PATH=file:/keys/rsa_private.pem
JWT_PUBLIC_KEY_PATH=file:/keys/rsa_public.pem

ROUTE_DB_USERNAME=route_svc
ROUTE_DB_PASSWORD=route_svc

BOOTSTRAP_ADMIN_ENABLED=true
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_EMAIL=admin@integrator.local
BOOTSTRAP_ADMIN_PASSWORD=password

INTEGRATOR_MCP_ENABLED=true

OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://localhost:4318/v1/metrics
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4318/v1/traces
OTEL_EXPORTER_OTLP_LOGS_ENDPOINT=http://localhost:4318/v1/logs